/* SVG */

/* olhos */

.eyes {
  animation: moveEyes 5s forwards infinite;
}

@keyframes moveEyes {
  0% {
    transform: translateX(0%);
  }
  20% {
    transform: translate(2px, -5px);
  }
  40% {
    transform: translate(3px, -5px);
  }
  60% {
    transform: translate(6px, 0px);
  }
  80% {
    transform: translate(3px, 5px);
  }
  100% {
    transform: none;
  }
}

.loader {
  background-color: #1D1F20;
  padding: 10px;
  border-radius: 50%;
}

/* coração */
.coracao-svg--animation {
  transition: 1.2s;
}

@media screen and (min-width: 800px){
  .coracao-svg:hover .coracao-svg--animation {
    fill: red;
    transition: 1.2s;
  }

  #heart:hover,
  #heart:focus
  #heart:active{
    animation: heartbeat 1s infinite;
  }
  
  @keyframes heartbeat
  {
    0%
    {
      transform: scale( .75 );
    }
    20%
    {
      transform: scale( 1 );
    }
    40%
    {
      transform: scale( .75 );
    }
    60%
    {
      transform: scale( 1 );
    }
    80%
    {
      transform: scale( .75 );
    }
    100%
    {
      transform: scale( .75 );
    }
  }
}

