.elementor-126 .elementor-element.elementor-element-2dd7085:not(.elementor-motion-effects-element-type-background),
.elementor-126 .elementor-element.elementor-element-2dd7085>.elementor-motion-effects-container>.elementor-motion-effects-layer {
  background-color: #F5F5F5;
}

.elementor-126 .elementor-element.elementor-element-2dd7085 {
  transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
  padding: 80px 50px 80px 50px;
}

.elementor-126 .elementor-element.elementor-element-2dd7085>.elementor-background-overlay {
  transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-126 .elementor-element.elementor-element-86adaea>.elementor-element-populated {
  box-shadow: 0px 0px 7px 3px rgba(0, 0, 0, 0.5);
  margin: 0px 30px 0px 0px;
  --e-column-margin-right: 30px;
  --e-column-margin-left: 0px;
}

.elementor-126 .elementor-element.elementor-element-1374674 .elementor-heading-title {
  color: var(--e-global-color-secondary);
  font-family: "Poppins", Sans-serif;
  font-size: 30px;
  font-weight: 500;
}

.elementor-126 .elementor-element.elementor-element-c73fa37 .elementor-field-group {
  padding-right: calc(7px/2);
  padding-left: calc(7px/2);
  margin-bottom: 21px;
}

.elementor-126 .elementor-element.elementor-element-c73fa37 .elementor-form-fields-wrapper {
  margin-left: calc(-7px/2);
  margin-right: calc(-7px/2);
  margin-bottom: -21px;
}

.elementor-126 .elementor-element.elementor-element-c73fa37 .elementor-field-group.recaptcha_v3-bottomleft,
.elementor-126 .elementor-element.elementor-element-c73fa37 .elementor-field-group.recaptcha_v3-bottomright {
  margin-bottom: 0;
}

body.rtl .elementor-126 .elementor-element.elementor-element-c73fa37 .elementor-labels-inline .elementor-field-group>label {
  padding-left: 0px;
}

body:not(.rtl) .elementor-126 .elementor-element.elementor-element-c73fa37 .elementor-labels-inline .elementor-field-group>label {
  padding-right: 0px;
}

body .elementor-126 .elementor-element.elementor-element-c73fa37 .elementor-labels-above .elementor-field-group>label {
  padding-bottom: 0px;
}

.elementor-126 .elementor-element.elementor-element-c73fa37 .elementor-field-type-html {
  padding-bottom: 0px;
}

.elementor-126 .elementor-element.elementor-element-c73fa37 .elementor-field-group:not(.elementor-field-type-upload) .elementor-field:not(.elementor-select-wrapper) {
  background-color: #ffffff;
}

.elementor-126 .elementor-element.elementor-element-c73fa37 .elementor-field-group .elementor-select-wrapper select {
  background-color: #ffffff;
}

.elementor-126 .elementor-element.elementor-element-c73fa37 .elementor-button {
  font-family: "Poppins", Sans-serif;
  font-size: 18px;
  font-weight: 500;
}

.elementor-126 .elementor-element.elementor-element-c73fa37 .e-form__buttons__wrapper__button-next {
  color: #ffffff;
}

.elementor-126 .elementor-element.elementor-element-c73fa37 .elementor-button[type="submit"] {
  color: #ffffff;
}

.elementor-126 .elementor-element.elementor-element-c73fa37 .elementor-button[type="submit"] svg * {
  fill: #ffffff;
}

.elementor-126 .elementor-element.elementor-element-c73fa37 .e-form__buttons__wrapper__button-previous {
  color: #ffffff;
}

.elementor-126 .elementor-element.elementor-element-c73fa37 .e-form__buttons__wrapper__button-next:hover {
  color: #ffffff;
}

.elementor-126 .elementor-element.elementor-element-c73fa37 .elementor-button[type="submit"]:hover {
  color: #ffffff;
}

.elementor-126 .elementor-element.elementor-element-c73fa37 .elementor-button[type="submit"]:hover svg * {
  fill: #ffffff;
}

.elementor-126 .elementor-element.elementor-element-c73fa37 .e-form__buttons__wrapper__button-previous:hover {
  background-color: var(--e-global-color-primary);
  color: #ffffff;
}

.elementor-126 .elementor-element.elementor-element-c73fa37 {
  --e-form-steps-indicators-spacing: 20px;
  --e-form-steps-indicator-padding: 30px;
  --e-form-steps-indicator-inactive-secondary-color: #ffffff;
  --e-form-steps-indicator-active-secondary-color: #ffffff;
  --e-form-steps-indicator-completed-secondary-color: #ffffff;
  --e-form-steps-divider-width: 1px;
  --e-form-steps-divider-gap: 10px;
}

.elementor-126 .elementor-element.elementor-element-af25b26 .elementor-heading-title {
  color: var(--e-global-color-secondary);
  font-family: "Poppins", Sans-serif;
  font-size: 30px;
  font-weight: 500;
}

.elementor-126 .elementor-element.elementor-element-bd2dd4a:not(.elementor-motion-effects-element-type-background),
.elementor-126 .elementor-element.elementor-element-bd2dd4a>.elementor-motion-effects-container>.elementor-motion-effects-layer {
  background-color: var(--e-global-color-secondary);
}

.elementor-126 .elementor-element.elementor-element-bd2dd4a {
  transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
  padding: 50px 50px 50px 50px;
}

.elementor-126 .elementor-element.elementor-element-bd2dd4a>.elementor-background-overlay {
  transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-126 .elementor-element.elementor-element-f58e54d .elementor-heading-title {
  font-family: "Poppins", Sans-serif;
  font-size: 22px;
  font-weight: 500;
}

.elementor-126 .elementor-element.elementor-element-a4010a9 .elementor-icon-list-items:not(.elementor-inline-items) .elementor-icon-list-item:not(:last-child) {
  padding-bottom: calc(14px/2);
}

.elementor-126 .elementor-element.elementor-element-a4010a9 .elementor-icon-list-items:not(.elementor-inline-items) .elementor-icon-list-item:not(:first-child) {
  margin-top: calc(14px/2);
}

.elementor-126 .elementor-element.elementor-element-a4010a9 .elementor-icon-list-items.elementor-inline-items .elementor-icon-list-item {
  margin-right: calc(14px/2);
  margin-left: calc(14px/2);
}

.elementor-126 .elementor-element.elementor-element-a4010a9 .elementor-icon-list-items.elementor-inline-items {
  margin-right: calc(-14px/2);
  margin-left: calc(-14px/2);
}

body.rtl .elementor-126 .elementor-element.elementor-element-a4010a9 .elementor-icon-list-items.elementor-inline-items .elementor-icon-list-item:after {
  left: calc(-14px/2);
}

body:not(.rtl) .elementor-126 .elementor-element.elementor-element-a4010a9 .elementor-icon-list-items.elementor-inline-items .elementor-icon-list-item:after {
  right: calc(-14px/2);
}

.elementor-126 .elementor-element.elementor-element-a4010a9 {
  --e-icon-list-icon-size: 14px;
}

.elementor-126 .elementor-element.elementor-element-a4010a9 .elementor-icon-list-text {
  color: var(--e-global-color-primary);
}

.elementor-126 .elementor-element.elementor-element-ea62e0c {
  --divider-border-style: solid;
  --divider-color: var(--e-global-color-accent);
  --divider-border-width: 1.5px;
}

.elementor-126 .elementor-element.elementor-element-ea62e0c .elementor-divider-separator {
  width: 54%;
}

.elementor-126 .elementor-element.elementor-element-ea62e0c .elementor-divider {
  padding-top: 2px;
  padding-bottom: 2px;
}

.elementor-126 .elementor-element.elementor-element-8ce8ee9 .elementor-heading-title {
  font-family: "Poppins", Sans-serif;
  font-size: 22px;
  font-weight: 500;
}

.elementor-126 .elementor-element.elementor-element-1ebbccf .elementor-icon-list-items:not(.elementor-inline-items) .elementor-icon-list-item:not(:last-child) {
  padding-bottom: calc(14px/2);
}

.elementor-126 .elementor-element.elementor-element-1ebbccf .elementor-icon-list-items:not(.elementor-inline-items) .elementor-icon-list-item:not(:first-child) {
  margin-top: calc(14px/2);
}

.elementor-126 .elementor-element.elementor-element-1ebbccf .elementor-icon-list-items.elementor-inline-items .elementor-icon-list-item {
  margin-right: calc(14px/2);
  margin-left: calc(14px/2);
}

.elementor-126 .elementor-element.elementor-element-1ebbccf .elementor-icon-list-items.elementor-inline-items {
  margin-right: calc(-14px/2);
  margin-left: calc(-14px/2);
}

body.rtl .elementor-126 .elementor-element.elementor-element-1ebbccf .elementor-icon-list-items.elementor-inline-items .elementor-icon-list-item:after {
  left: calc(-14px/2);
}

body:not(.rtl) .elementor-126 .elementor-element.elementor-element-1ebbccf .elementor-icon-list-items.elementor-inline-items .elementor-icon-list-item:after {
  right: calc(-14px/2);
}

.elementor-126 .elementor-element.elementor-element-1ebbccf {
  --e-icon-list-icon-size: 14px;
}

.elementor-126 .elementor-element.elementor-element-1ebbccf .elementor-icon-list-text {
  color: var(--e-global-color-primary);
}

.elementor-126 .elementor-element.elementor-element-99943e7 {
  --divider-border-style: solid;
  --divider-color: var(--e-global-color-accent);
  --divider-border-width: 1.5px;
}

.elementor-126 .elementor-element.elementor-element-99943e7 .elementor-divider-separator {
  width: 54%;
}

.elementor-126 .elementor-element.elementor-element-99943e7 .elementor-divider {
  padding-top: 2px;
  padding-bottom: 2px;
}

.elementor-126 .elementor-element.elementor-element-77ba80d .elementor-heading-title {
  font-family: "Poppins", Sans-serif;
  font-size: 22px;
  font-weight: 500;
}

.elementor-126 .elementor-element.elementor-element-ca20942 .elementor-repeater-item-d279fc3.elementor-social-icon {
  background-color: var(--e-global-color-primary);
}

.elementor-126 .elementor-element.elementor-element-ca20942 .elementor-repeater-item-d279fc3.elementor-social-icon i {
  color: var(--e-global-color-secondary);
}

.elementor-126 .elementor-element.elementor-element-ca20942 .elementor-repeater-item-d279fc3.elementor-social-icon svg {
  fill: var(--e-global-color-secondary);
}

.elementor-126 .elementor-element.elementor-element-ca20942 .elementor-repeater-item-1c5a5e0.elementor-social-icon {
  background-color: var(--e-global-color-primary);
}

.elementor-126 .elementor-element.elementor-element-ca20942 .elementor-repeater-item-1c5a5e0.elementor-social-icon i {
  color: var(--e-global-color-secondary);
}

.elementor-126 .elementor-element.elementor-element-ca20942 .elementor-repeater-item-1c5a5e0.elementor-social-icon svg {
  fill: var(--e-global-color-secondary);
}

.elementor-126 .elementor-element.elementor-element-ca20942 .elementor-repeater-item-8848a48.elementor-social-icon {
  background-color: var(--e-global-color-primary);
}

.elementor-126 .elementor-element.elementor-element-ca20942 .elementor-repeater-item-8848a48.elementor-social-icon i {
  color: var(--e-global-color-secondary);
}

.elementor-126 .elementor-element.elementor-element-ca20942 .elementor-repeater-item-8848a48.elementor-social-icon svg {
  fill: var(--e-global-color-secondary);
}

.elementor-126 .elementor-element.elementor-element-ca20942 {
  --grid-template-columns: repeat(3, auto);
  --grid-column-gap: 5px;
  --grid-row-gap: 0px;
}

.elementor-126 .elementor-element.elementor-element-ca20942 .elementor-widget-container {
  text-align: left;
}

.elementor-126 .elementor-element.elementor-element-d5ad5a8:not(.elementor-motion-effects-element-type-background),
.elementor-126 .elementor-element.elementor-element-d5ad5a8>.elementor-motion-effects-container>.elementor-motion-effects-layer {
  background-color: #F5F5F5;
}

.elementor-126 .elementor-element.elementor-element-d5ad5a8 {
  transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
}

.elementor-126 .elementor-element.elementor-element-d5ad5a8>.elementor-background-overlay {
  transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-126 .elementor-element.elementor-element-7250dae {
  text-align: center;
  font-family: "Montserrat", Sans-serif;
  font-size: 16px;
  font-weight: 400;
}

@media(min-width:768px) {
  .elementor-126 .elementor-element.elementor-element-cd6680f {
    width: 36.371%;
  }

  .elementor-126 .elementor-element.elementor-element-3b0efc6 {
    width: 31.749%;
  }

  .elementor-126 .elementor-element.elementor-element-4e2c168 {
    width: 31.154%;
  }
}

@media(max-width:767px) {
  .elementor-126 .elementor-element.elementor-element-2dd7085 {
    padding: 20px 20px 20px 20px;
  }

  .elementor-126 .elementor-element.elementor-element-86adaea>.elementor-element-populated {
    margin: 0px 0px 0px 0px;
    --e-column-margin-right: 0px;
    --e-column-margin-left: 0px;
    padding: 20px 20px 20px 20px;
  }

  .elementor-126 .elementor-element.elementor-element-1374674 .elementor-heading-title {
    font-size: 20px;
  }

  .elementor-126 .elementor-element.elementor-element-d685784>.elementor-element-populated {
    margin: 40px 0px 0px 0px;
    --e-column-margin-right: 0px;
    --e-column-margin-left: 0px;
    padding: 2px 2px 2px 2px;
  }

  .elementor-126 .elementor-element.elementor-element-af25b26 .elementor-heading-title {
    font-size: 20px;
  }

  .elementor-126 .elementor-element.elementor-element-bd2dd4a {
    padding: 20px 20px 20px 20px;
  }

  .elementor-126 .elementor-element.elementor-element-7250dae {
    font-size: 14px;
  }
}